*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
   z-index: 10;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(25, 122, 202);
	color:#FFF;
	border-radius:50px;

}
.float-content{
   z-index: 10;
   position:fixed;
	width:auto;
	height:auto;
	bottom:110px;
	right:10px;
   border-radius:50px;
	text-align: left;
   box-shadow: 1px 1px  white ;
}
