.carousel-open:checked+.carousel-item {
   position: static;
   opacity: 100;
}

.carousel-item {
   -webkit-transition: opacity 0.6s ease-out;
   transition: opacity 0.6s ease-out;
   align-content: center;
}

#carousel-1:checked~.control-1, #carousel-2:checked~.control-2, #carousel-3:checked~.control-3, #carousel-4:checked~.control-4 {
   display: block;
}

.carousel-indicators {
   list-style: none;
   margin: 0;
   padding: 0;
   position: absolute;
   bottom: 10%;
   left: 0;
   right: 0;
   text-align: center;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet, #carousel-4:checked~.control-4~.carousel-indicators li:nth-child(4) .carousel-bullet {
   color: #2b6cb0;
}