/* BODY */

body {
   background-color: black !important;
   color: #E3B645 !important;
   border-color: white !important;
}

/* BODY */

/* NAV */

nav, #altu, nav>a {
   background-color: black !important;
   color: #E3B645 !important;
   border-color: white !important;
}

button i, button img, div>button {
   color: #E3B645 !important;
   border-color: white !important;
}

nav>a:hover, div>a:hover:not(a[onclick*="window."], a[target="_blank"]), #covid:hover {
   background-color: rgb(45, 45, 45) !important;
   color: #E3B645 !important;
   border-color: white !important;
   z-index: 2;
}

/* NAV */

a>img:hover, div>button:hover {
   background-color: rgb(45, 45, 45) !important;
   color: #E3B645 !important;
   border-color: white !important;
}

a, h1, h2, h3, p:not(div > p), h5, span, label:not(.prev, .next), dd, dt, b, #logotext {
   text-decoration: underline;
   color: #E3B645 !important;
   border-color: white !important;
}

li>a:hover {
   /* Footer */
   text-decoration: underline;
   color: #E3B645 !important;
   border-color: white !important;
}

p div, p {
   color: #E3B645 !important;
   border-color: white !important;
}

div div:not(div[name=cardname]), div select, div label, #cookiebg {
   background-color: black !important;
   color: #E3B645 !important;
   border-color: white !important;
}

footer {
   background-color: black !important;
   color: #E3B645 !important;
   border-color: white !important;
}

input, button:not(div > button, [type=submit]), a[name=card], button[name=card], button[name=pop], #btncookie {
   background-color: rgb(45, 45, 45) !important;
   color: #E3B645 !important;
   border-color: white !important;
}

th, a[aria-label^="Go to"], a[aria-label*="aquo"] {
   background-color: rgb(45, 45, 45) !important;
   color: #E3B645 !important;
   border-color: white !important;
}

div[name=cardname] {
   color: #E3B645 !important;
   border-color: white !important;
}

td, td span, span span, ul li, ol li {
   background-color: black !important;
   color: #E3B645 !important;
   border-color: white !important;
}

.float {
   background-color: rgb(0, 0, 0) !important;
   color: #E3B645 !important;
   border-color: white !important;
}

#covid {
   background-color: black !important;
   color: #E3B645 !important;
   border-color: white !important;
}

.hoverunderline:hover:before {
   background: #E3B645 !important;
}

#vertodos {
   background-color: rgb(45, 45, 45) !important;
   color: #E3B645 !important;
   border-color: white !important;
}

/*Gastos diretos*/

a[name="fase"] {
   background-color: rgb(45, 45, 45) !important;
   color: #E3B645 !important;
   border-color: white !important;
}

/* Mapa do site */

li i {
   color: #E3B645 !important;
}