td {
   justify-content: center;
   position: relative;
   margin: 20px auto;
   width: 50px;
   height: 50px;
   border-radius: 75px;
   transition: 1s box-shadow;
}

td:hover {
   box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

td:hover::before,
td:hover::after {
   display: block;
   content: '';
   position: absolute;
   width: 50px;
   height: 50px;
   background: #7DD3FC;
   border-radius: 75px;
   z-index: -1;
   animation: 1s clockwise infinite;
}

td:hover:after {
   background: #0EA5E9;
   animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
   0% {
       top: -5px;
       left: 0;
   }

   12% {
       top: -2px;
       left: 2px;
   }

   25% {
       top: 0;
       left: 5px;
   }

   37% {
       top: 2px;
       left: 2px;
   }

   50% {
       top: 5px;
       left: 0;
   }

   62% {
       top: 2px;
       left: -2px;
   }

   75% {
       top: 0;
       left: -5px;
   }

   87% {
       top: -2px;
       left: -2px;
   }

   100% {
       top: -5px;
       left: 0;
   }
}

@keyframes counterclockwise {
   0% {
       top: -5px;
       right: 0;
   }

   12% {
       top: -2px;
       right: 2px;
   }

   25% {
       top: 0;
       right: 5px;
   }

   37% {
       top: 2px;
       right: 2px;
   }

   50% {
       top: 5px;
       right: 0;
   }

   62% {
       top: 2px;
       right: -2px;
   }

   75% {
       top: 0;
       right: -5px;
   }

   87% {
       top: -2px;
       right: -2px;
   }

   100% {
       top: -5px;
       right: 0;
   }
}