@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
   font-family: 'Poppins', sans-serif;
}

body {
   background-image: url(/images/bg01.png);
}

/* Responsividade */

@media screen and (min-width:1400px) {
   .container-fluid {
      padding-left: 8rem;
      padding-right: 8rem;
      order: 2;
   }
   .container-fluid-covid {
      padding-left: 8rem;
      padding-right: 8rem;
      order: 2;
   }
}