/* Nav Dropdown */

.active {
   display: block;
   opacity: 1;
   -webkit-animation-name: fadeIn;
   -webkit-animation-duration: .5s;
   animation-name: fadeIn;
   animation-duration: .5s;
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   20% {
      opacity: 0;
   }
   40% {
      opacity: 0.3;
   }
   60% {
      opacity: 0.5;
   }
   80% {
      opacity: 0.9;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   20% {
      opacity: 0;
   }
   40% {
      opacity: 0.3;
   }
   60% {
      opacity: 0.5;
   }
   80% {
      opacity: 0.9;
   }
   100% {
      opacity: 1;
   }
}

.juntarbox {
   display: flex;
   align-items: center;
   order: 1;
}

li>ul {
   transform: translatex(100%) scale(0)
}

li:hover>ul {
   transform: translatex(101%) scale(1)
}

li>span svg {
   transform: rotate(-90deg)
}

li:hover>span svg {
   transform: rotate(-270deg)
}

.group:hover .group-hover\:scale-100 {
   transform: scale(1)
}

.group:hover .group-hover\:-rotate-180 {
   transform: rotate(180deg)
}

.scale-0 {
   transform: scale(0)
}

.min-w-32 {
   min-width: 8rem
}

#menu-toggle:checked+#menu {
   display: block;
}

/* </Nav Dropdown */

/* zoom  */

.zoom {
   /* padding: 50px; */
   transition: transform 0.1s;
   /* Animation */
   /* width: 200px;
  height: 200px; */
   /* margin: 0 auto; */
}

.zoom:hover {
   transform: scale(1.1);
   /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@keyframes hover-v {
   0% {
      transform: scaleX(0);
      height: 5px;
   }
   45% {
      transform: scaleX(1.05);
      height: 5px;
   }
   55% {
      height: 5px;
   }
   100% {
      transform: scaleX(1.05);
      height: 3.8rem;
   }
}

@keyframes no-hover-v {
   0% {
      transform: scaleX(1.05);
      height: 3.8rem;
   }
   45% {
      height: 5px;
   }
   55% {
      transform: scaleX(1.05);
      height: 5px;
      opacity: 1;
   }
   100% {
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
   }
}